body {
    margin: 0;
    padding: 0;
    background-image: url('img/pagConstruccion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(243, 54, 50);
}
